<h1>Coin_Combo</h1>
<h2><%= if(@coins[0].>(0))
          @coins[0].to_s() + ' Quarters,'
        end %>
    <%= if(@coins[1].>(0))
          @coins[1].to_s() + ' Dimes,'
        end %>
    <%= if(@coins[2].>(0))
          @coins[2].to_s() + ' Nickels,'
          end %>
    <%= if(@coins[3].>(0))
          @coins[3].to_s() + ' Pennies'
          end
   %></h2>
