<h1>Welcome to Coin Combo!</h1>
<form action="/coins">
  <div class="form-group">
    <label for="change">Please enter the amount of change you need coins for.</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">send</button>
</form>
